body {
    background-color: #fcf9f4;
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: #604d42;
}

.menu-item {
    color: whitesmoke;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.mian-content {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

.illus-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px -10px;
  }
  
  .box-item {
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 20px;
    padding: 0px 10px;
  }
  
  .box-content {
    color: #242424;
    background-color: #d2c7bb;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }

.image {
    width: 300px;
}


.know-me {
  background-color: #604d42;
  border-radius: 1%;
  padding: 20px;
  margin: 20px;
}

h1 ,h3 , h4 ,ul ,li ,p {
  color: #d2c7bb;

}